# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.AngularEshop.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Course-samples\Api\Project\AngularEshopVersions\AngularEshopWebApi -addJwt\AngularEshop\.idea\.idea.AngularEshop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
